@model IEnumerable<mc692617_MIS4200.Models.Visits>

@{
    ViewBag.Title = "Visits";
}

<h2>Historical Visits</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pet.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.visitID }) |
            @Html.ActionLink("Details", "Details", new { id=item.visitID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.visitID })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to Clinic Homepage!", "Clinic", "Home")
</div>
