@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:seagreen">
    <h2 style="color: white">MIS 4200 - IS Consulting Project</h2>
    <p class="lead" style="color:white"> <br /> Whats going on Prof Luce and everybody that I send the link of this to :) <br /> <br /> - Mike Calvert </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Academic</h2>
        <p>
            <strong>Ohio University</strong> | B.B.A | May 2020 <br />
            <strong>Majors:</strong> MIS and Business Analytics  <br /> 
            <strong>Minor:</strong> Finance  <br />
            <br />
            Grad school in probably 3-5 years, where? who knows 
        </p>
        <p><a class="btn btn-default" href="https://www.ohio.edu/majors"> OU Majors &raquo;</a></p>
        <p>
            <br />
            Find "Management Information Systems" to learn more what we do in class!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Career</h2>
        <p> <strong>Company:</strong> Rovisys <br/>
            <strong>Title:</strong> Software Developer <br />
            <br />
            Come May when I graduate I will be working full time doing things like building this exact MVC but for clients
            <br />
            <br />
        </p>
        <p><a class="btn btn-default" href="https://www.rovisys.com/">Rovisys &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mike's Veterinary Clinic and Spa</h2>
        <p>
            Where your puppies are treated better than you! <br />
            Create an account and book your best friend's appointment today:

            @Html.ActionLink("Create Account", "Create", "Owners") <br />

            @Html.ActionLink("Pet", "Index", "Pets") <br />
            @Html.ActionLink("Visits", "Index", "Visits")<br />
            @Html.ActionLink("Owner", "Index", "Owners")
            @Html.ActionLink("Vet", "Index", "Vets") <br />


        </p>
        <p><br /><a class="btn btn-default" href="https://dogtime.com/puppies/255-puppies#/slide/1"> Puppies &raquo;</a> <br/>
            <br />
            A link to puppies! Since Prof Luce likes puppies 
        
        </p>
    </div>
</div>